

<div class='nav'>
    <h1 class="welcome">Welcome, <%= @user.username %></h1>
    <ul>
        <li><%= link_to "Start a new story", new_story_path %></li>
        <li><%= link_to "Back to all stories", stories_path %></li>
        <li><%= link_to "Update your location", edit_user_path(@user) %></li>
        <li><%= link_to 'logout', logout_path, method: :delete %></li>
    </ul>
</div>

<img src="<%= @user.image %>">
<h4 class="location">Location: <%= @user.location %></h4>

<h4 class="my_stories">My Stories:</h4>
<ul>
<% @user.stories. each do |story| %>
    <li><%= link_to story.title, story_path(story) %></li>
<% end %>
</ul>

<h4 class="my_stories">My Contributions:</h4>
<ul>
    <% @user.contributions.each do |contribution| %>
        <% if contribution.story %>
            <li><%= link_to contribution.story.title, story_path(contribution.story) %></li>
        <% end %>
    <% end %>
</ul>
