

<div class='nav'>
    <div class="welcome">
        <h1>Welcome, <%= @user.username %></h1>
        <h4 class="location">Location: <%= @user.location %></h4>
    </div>
    <div class='nav_links'>
        <ul>
            <li><%= link_to "Start a new story", new_story_path %></li>
            <li><%= link_to "View all stories", stories_path %></li>
            <li><%= link_to "Update my location", edit_user_path(@user) %></li>
            <li><%= link_to 'logout', logout_path, method: :delete %></li>
        </ul>
    </div>
</div>

<img src="<%= @user.image %>">

<br>
<br>
<br>
<br>
<div class="my_show_container">
    <div class="my_stories">
        <h2>My Stories:</h2>
        <ul>
            <% @user.stories. each do |story| %>
                <li><%= link_to story.title, story_path(story) %></li>
        <% end %>
        </ul>
    </div>

    <div class='my_contributions'>
        <h2>My Contributions:</h2>
        <ul>
            <% @user.contributions.each do |contribution| %>
                <% if contribution.story %>
                    <li><%= link_to contribution.story.title, story_path(contribution.story) %></li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div> 
