<h1>Welcome, <%= @user.username %></h1>

<img src="<%= @user.image %>">
<h4>Location: <%= @user.location %></h4>

<h4>My Stories:</h4>
<ul>
<% @user.stories. each do |story| %>
    <li><%= link_to story.title, story_path(story) %></li>
<% end %>
</ul>
<br>
<h4>My Contributions:</h4>
<ul>
    <% @user.contributions.each do |contribution| %>
        <% if contribution.story %>
            <li><%= link_to contribution.story.title, story_path(contribution.story) %></li>
        <% end %>
    <% end %>
</ul>
<br>
<%= link_to "Start a new story", new_story_path %>
<br>
<%= link_to "Back to all stories", stories_path %>
<br>
<%= link_to 'logout', logout_path, method: :delete %>
