<div class="story_nav_container">
    <div class="gen_word_container">
        <p class='generated_word'>To add to this story, consider using this random GeeWord: <span><%= WordGenerator.all.sample.word %></span></p>
        <br>
    </div>
    <div class="story_nav_links">
        <ul>

            <li><%= link_to "Back to all stories", stories_path %></li>

            <li><%= link_to "Back to my page", user_path(@current_user) %></li>
        </ul>
    </div>
</div>


<div class="story_show">
    <h1 class="story_show_title"><%= @story.title %></h1>
    <div class="story">
        <p><%= @story.content %> 🖋author: <%= @story.user.username %></p>

        <% @story.contributions.each do |contribution| %>
        <p class="contribution"><%= contribution.contributor_content %> ✏️contributor: <%= contribution.user.username %></p>
        <% end %>
    </div>
</div>


<div class="new_contribution_container">
    <%= form_for @contribution do |f| %>
        <%= f.label :contributor_content %><br><br>
        <%= f.text_area :contributor_content, size: "50x10" %><br><br>
        <%= f.hidden_field :user_id, value: @current_user.id %>
        <%= f.hidden_field :story_id, value: @story.id %><br><br>
        <%= f.submit 'New GeeContribution', :class => 'submit_button'%>
        <% end %>
</div>


<% if @story.user == @current_user %>
    <p><%= button_to "Delete story", story_path(@story), method: :delete %></p>
<% end %>
