<div class="story_nav_container">
    <div class="gen_word_container">
        <p class='generated_word'>To add to this story, use your GeeWord: <span><%= WordGenerator.all.sample.word %></span></p>
        <br>
    </div>
    <div class="story_nav_links">
        <ul>
            <li><%= link_to "Gee, I wanna add to this story", new_contribution_path(@story) %></li>

            <li><%= link_to "Back to all stories", stories_path %></li>

            <li><%= link_to "Take me back to #{@current_user.username}'s page", user_path(@current_user) %></li>
        </ul>
    </div>
</div>
<div class="story_show">
    <h1 class="story_show_title"><%= @story.title %></h1>
    <div class="story">
        <p><%= @story.content %> 🖋author: <%= @story.user.username %></p>

        <% @story.contributions.each do |contribution| %>
        <p class="contribution"><%= contribution.contributor_content %> ✏️contributor: <%= contribution.user.username %></p>
        <% end %>
    </div>
</div>

<br>
<br>
<br>


<%# <p><%= button_to "Take me back to #{@current_user.username}'s page", user_path(@current_user), method: :get %></p>

<% if @story.user == @current_user %>
    <p><%= button_to "Delete story", story_path(@story), method: :delete %></p>
<% end %>
