<h1><%= @story.title %></h1>

<p><%= @story.content %></p>

<% @story.contributions.each do |contribution| %>
<p style="color: green";><%= contribution.contributor_content %></p>
<% end %>

<p><%= link_to "Gee, I wanna add to this story", new_contribution_path %></p>

<p><%= link_to "Back to all stories", stories_path %></p>

<p><%= link_to "Take me back to my GeeWord page", user_path(@current_user) %></p>

<p><%= button_to "Take me back to #{@current_user.username}'s page", user_path(@current_user), method: :get %></p>